<ul class="list-group" >
    <li class="list-group-item active" style="font-weight: bold; text-align: center">SÁCH THEO CHỦ ĐỀ</li>
    @foreach (var chuDe in ViewBag.ChuDeList)
    {
        <li class="list-group-item">
            <a href="@Url.Action("BooksByChuDe", "Home", new { id = chuDe.Id })">@chuDe.Name</a>
        </li>
    }
</ul>