@model LuongVinhKhang.SachOnline.Models.User

@{
    ViewData["Title"] = "Xóa Người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Xác nhận xóa</h2>
<h3>Bạn có chắc muốn xóa người dùng "@Model.HoTen"?</h3>
<form asp-action="Delete" asp-controller="UserAdmin" asp-area="Admin" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="MaKH" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-action="Index" asp-controller="UserAdmin" asp-area="Admin" class="btn btn-secondary">Hủy</a>
</form>